# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built by `go test -c`
*.test

# Output of the go coverage tool, tracked by 'go tool cover'
*.out

# IDE/Editor specific files
.idea/
.vscode/
